<div class="w-screen flex flex-row flex-wrap">
  <div
    class="w-2/5 m-16 border-slate-500 border-2 border-dashed"
  >
    <h2 class="text-center font-bold">Login Form</h2>

    <form class="form login-form m-16">
      <div class="form-group border-2 border-slate-500 m-2">
        <label for="email-login"></label>
        <input
          placeholder="Email"
          class="form-input w-full"
          type="text"
          id="email-login"
        />
      </div>
      <div class="form-group border-2 border-slate-500 m-2">
        <label for="password-login"></label>
        <input
          placeholder="Password"
          class="form-input w-full"
          type="password"
          id="password-login"
        />
      </div>
      <div class="form-group text-center my-8">
        <button
          class="border-2 border-black rounded bg-red-500 text-white w-1/2 login-button"
          type="submit"
        >Login</button>
      </div>
    </form>
  </div>
  <div class="w-2/5 m-16 border-slate-500 border-2 border-dashed">
    <h2 class="text-center font-bold">Signup Form</h2>

    <form class="form signup-form m-16">
      <div class="form-group border-2 border-slate-500 m-2">
        <label for="name-signup"></label>
        <input
          placeholder="Name"
          class="form-input w-full"
          type="text"
          id="name-signup"
        />
      </div>
      <div class="form-group border-2 border-slate-500 m-2">
        <label for="email-signup"></label>
        <input
          placeholder="Email"
          class="form-input w-full"
          type="text"
          id="email-signup"
        />
      </div>
      <div class="form-group border-2 border-slate-500 m-2">
        <label for="password-signup"></label>
        <input
          placeholder="Password"
          class="form-input w-full"
          type="password"
          id="password-signup"
        />
      </div>
      <div class="form-group text-center my-8">
        <button
          class="border-2 border-black rounded bg-red-500 text-white w-1/2 signup-button"
          type="submit"
        >Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>